*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F5F3F3;
}

/*sticky feature for the website */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/*every div tab has a pointer in the header*/
header div{
    cursor: pointer;
    font-size: 20px;
    color: #000;
}

/*godwin.codes spacing*/
.name-Godwin {
    letter-spacing: 6px;
}

/*navigation*/
header nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

/*navigation link tabs*/
.navigation li{
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}

.navigation li a{
    text-decoration: none;
    color: #000;
}

/*hover effects on the tabs*/
.navigation li a:hover{
    color: #333322;
    text-decoration: underline;
    font-size: large;
}

/*hamburger and the hamburger lines*/
.hamburger{
    display: none;
}
.line{
    border-color: #fff;
    background-color: #000;
    margin-bottom: 3px;
    width: 15px;
    height: 2px;
    border-radius: 75px;
}

/*the biggest part of the website, attention grabber*/
.attention-grab{
    background-color: #3A3535;
    width: 100%;
    height: 300px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 auto;

}
.attention-grab h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    font-size: 70px;
}
.attention-grab h3{
    margin: 0 auto;
    background-color: #fff;
    color: #3A3535;
    width: 40%;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

/*container and everything contained there*/
.container{
    margin: 0 auto;
    width: 70%;
}
/*image on screen and the caption of the image*/
.myImage-and-info{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: row;
}
.image-me{
    width: 260px;
    height: 300px;
    border-radius: 60%; 
}
.caption{
    max-width: 500px;
    padding-top: 60px;
    padding-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
}
.caption h3{
    margin-bottom: 15px;
    font-size: 25px;
}

/*skills section*/
#skills-section{
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
}
.skills p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding-top: 20px;
    padding-left: 20px;
}
.skills p a{
    text-decoration: underline;
    font-weight: 700;
    color: #000;
}
.skillset{
    columns: 3;
    margin-top: 10px;
    list-style: circle;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    padding: 0 50px;
}
.skillset li{
    padding-bottom: 3px;
}


/*display menu on mobile and its niceness*/
.mobileMenu{
    width: 100%;
    background-color: rgb(48, 39, 39);
    display: none;
}
.togglerr{
    display: block;
}
.mobileMenu a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.mobileMenu li{
    list-style: none;
    padding: 15px;
    text-align: center;
}

/*instagram tag and its nice features*/
.instagramTag{
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.instagram{
    width: 200px;
    height: 200px;
    margin-right: 9px;
}
.igLink{
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 90px;
    font-family: 'Poppins', sans-serif;
}
.seeMore{
    margin: 30px;
    cursor: pointer;
}
.seeMore:hover{
    text-decoration: underline;
}

/*the footer and its nice appearance*/
footer{
    margin-top: 30px;
    width: 100%;
}
.footer{
    background-color: #3A3535;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.footer li{
    display: inline-block;
    padding-right: 20px;
}

.instagram-footer{
    cursor: pointer;
}

.github-footer{
    cursor: pointer;
}
@media only screen and (max-width: 768px){
    header nav {
        padding: 5px;
    }

    .about-me{
        font-size: 15px;
    }

    .myImage-and-info{
        flex-direction: column;
    }

    .image{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px){ 
    .hamburger{
        margin: 5px;
        display: inline-block;
    }

    .navigation li{
        display: none;
    }

    .attention-grab h1{
        letter-spacing: 5px;
        font-size: 50px;
    }
    .about-me{
        font-size: 12px;
    }

    .caption{
        padding-top: 60px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

    
    .skills p{
        font-size: 12px;
    }
    .skillset{
        font-size: 13px;
    }

    .myImage{
        margin-top: 15px;
    }

    .image-me{
        width: 250px;

    }
}
